*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;

}
body {
	background: #ffff;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

.contenedor{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden; 
}



/*-----------------------------------HEADER---------------------------------------------------------------------------------------*/

.divemenu{

	width: 1000px;
	margin: 30px auto;
	background: #fff;

}

.navegacion ul{
	list-style: none;
	float: right;
}

.menu > li{
	position: flex;
	display: inline-block;
}

.menu > li >a{

	display: block;
	text-decoration: none;
	padding: 0px 10px;
	color: #0583F2;
	font-weight: bold;
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}


.submenu{

	right: 498px;
	position: absolute;
	background: #ffff;
	width: 12%;
	visibility: hidden;/*esconde el submenu*/
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	text-align: left;
	display: block;
	padding: 12px;
	color: #0583F2;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}



/*--------------------------------------------------Submenu-------------------------------------------------------------------------*/
.submenu{
	position: absolute;

}

.submenu li a{

	text-decoration: none;
}


.logo{
	width: 20%;
	display: inline-block;
	position: relative;
	top: 43px; 
}

/*-------------------------------------------------------------Buscador---------------------------------------------------------------*/

.buscar-caja {
 position: absolute;
 top: 12%;
 left: 40%;
 transform: translate(-50%, -50%);
 background: #ffff;
 height: 40px;
 border: #0583F2 solid 2px;
 border-radius: 40px;
 padding: 10px;
}

.buscar-btn {
 color: #e84118;
 float: right;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background: #ffff;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #0583F2;
}

.buscar-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0 6px;
 font-size: 13px;
 width: 230px;
 font-weight: bold;
}﻿


/*------------------------------------------MAIN-------------------------------------------------------------------------------------*/

.banner{

	margin-top: 0px;

	display: inline-block;
}

.titulo{
	color: #0583F2; 
}

.novedades{
	padding: 1%;
	
}

.lmv {

    font-size: 34px;
	line-height: 14px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #3895ea;
	text-align: center;	


}

/*-------------------------------------------------------Footer----------------------------------------------------------------------*/

footer .contacto {
	padding: 60px 0;
	background: #f2f2f2;
}

footer .contacto .titulo {

	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: bold;
	color: #3895ea;
	text-align: center;
}

footer .contacto .formulario {
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
	border:2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	color:#a4a4a4;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus {
	border:2px solid #3895ea;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
	width: 49%;
	margin-bottom: 15px;
}

footer .contacto .formulario textarea {
	width: 100%;
	height: 100px;
	min-width: 100%;
	max-width: 100%;
	min-height:100px;
	max-height: 300px;
	margin-bottom: 15px;
}

footer .contacto .formulario .boton {
	font-weight: bold;
	margin: auto;
	background:  #0987E6;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 15px 40px;
	cursor: pointer;
}

footer .contacto .formulario .boton:hover {
	background:   #0FACE6;
}

/*--------------------------------------------REDES SOCIALES----------------------------------------------------------------------*/

footer .redes-sociales {
	background: #1e2b38;
	padding: 60px 0;
}

footer .redes-sociales .contenedor {
	display: flex;
	justify-content:center;
}

footer .redes-sociales a {
	color: #fff;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;
	margin: 0 20px;

}

footer .redes-sociales .admin a {
	position: absolute;
 	left: 90%;
 	transform: translate(-50%, -50%);
	text-align: center;
	text-decoration: none;
	font-size:15px; 
	color: #ffff;

}

footer .redes-sociales .twitter:hover {	background: #1da1f2; }
footer .redes-sociales .facebook:hover { background: #3b5998; }
footer .redes-sociales .youtube:hover {	background: #cd201f; }
footer .redes-sociales .github:hover { background: #666666; }
footer .redes-sociales .instagram:hover { background: #3f729b; }


/*--------------------------------------------Los más vendidos ---------------------------------------------------------------*/

    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 200px;
      height: 200px;
      background: #262626;
    }
/*-----------------------------------------SUBMENU CUENTA----------------------------------*/
.submenuusu{

	right: 200px;
	position: absolute;
	background: #ffff;
	width: 12%;
	visibility: hidden;/*esconde el submenu*/
	opacity: 0;
	transition: opacity 1.5s;
}

.submenuusu li a{
	text-align: left;
	display: block;
	padding: 12px;
	color: #0583F2;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenuusu{
	visibility: visible;
	opacity: 1;
}